<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.dao.TestMapper">
<resultMap type="cn.entity.TestTable" id="base">
<result column="file_name" property="fileName"/>
</resultMap>
	<select id="getAll" resultMap="base">
	select * from test_table
	</select>
	
	<insert id="add" parameterType="cn.entity.TestTable">
	insert test_table (
	<if test="name!=null and name!=''">
	name,
	</if>
	<if test="fileName!=null and fileName!=''">
	file_Name
	</if>
	) value(
	<if test="name!=null and name!=''">
	#{name},
	</if><if test="fileName!=null and fileName!=''">
	#{fileName}
	</if>)
	</insert>
</mapper>